useDynLib(biclust)

import()


exportPattern()

export(
       cbimax,
       bimax,
       )


exportClasses(
              
              ) 

exportMethods(
              
              )


S3method()
S3method()


